In [18]:
import pandas as pd

In [20]:
df= pd.read_csv("buisnesss.csv")

In [28]:
df = pd.read_csv("employees.csv")

In [29]:
df

,EmployeeID,FirstName,LastName,Department,DeptNo,JobTitle,Salary,HireDate
0,101,Michael,Wilson,Sales,10,Sales Manager,98396,2021-01-17
1,102,Jane,Taylor,Finance,50,Financial Analyst,92116,2022-06-19
2,103,Michael,Hall,Support,60,Customer Support,91359,2020-01-14
3,104,Linda,Taylor,Finance,50,Financial Analyst,50229,2019-07-26
4,105,Michael,Doe,Support,60,Customer Support,84321,2020-11-04
5,106,Emily,Brown,Support,60,Customer Support,83619,2020-05-15
6,107,Sarah,Jones,Finance,50,Accountant,86274,2021-11-19
7,108,Peter,Davis,Finance,50,Accountant,52380,2018-09-25
8,109,Michael,Jones,Finance,50,Financial Analyst,88608,2021-08-06
9,110,Karen,Brown,Finance,50,Accountant,70811,2019-10-22
10,111,Peter,Doe,HR,40,Recruiter,90803,2022-05-03
11,112,Robert,Davis,Engineering,30,Software Engineer,92989,2021-08-27
12,113,John,Moore,Engineering,30,Systems Analyst,62000,2023-12-22
13,114,Linda,Hall,Marketing,20,Marketing Coordinator,79333,2019-07-05
14,115,Peter,Jones,Sales,10,Sales Executive,87627,2019-07-09
15,116,Emily,Jones,Engineering,30,Software Engineer,53196,2021-03-22
16,117,John,Jones,Sales,10,Sales Manager,74212,2020-10-22
17,118,Peter,Smith,Support,60,Customer Support,99157,2021-02-17
18,119,David,Brown,Marketing,20,Marketing Coordinator,74429,2021-03-04
19,120,David,Doe,Finance,50,Financial Analyst,68177,2019-06-07